<div class=" example-container" *ngIf="createNewRecord">
  <div class="example-list">
    <div class="example-box" *ngFor="let attrib of tempRecord.attribs; let i = index;" style="display: flex;">
      <div class='record-cell' *ngIf="!editing['newKey' + i]" (click)="editable(true, 'newKey' + i)">
        {{attrib.key}}
      </div>
      <input class="record-cell" #editedKey [value]="attrib.key" *ngIf="editing['newKey' + i]"
        [focus]="editing['newKey' + i]" (blur)="update(attrib, editedKey, 'key', false, 'newKey' + i)">
      <div class='record-cell' *ngIf="!editing['newValue' + i]" (click)="editable(true, 'newValue' + i)">
        {{attrib.value}}
      </div>
      <input class="record-cell" #editedValue [value]="attrib.value" *ngIf="editing['newValue' + i]"
        [focus]="editing['newValue' + i]" (blur)="update(attrib, editedValue, 'value', false, 'newValue' + i)">
      <mat-icon *ngIf="i != 0" color="accent" (click)="removeInitailRecord(i)">cancel</mat-icon>
    </div>
  </div>
</div>


<div style="width: 100%;">
  <button (click)="newAttrib()" style="float: right;" mat-mini-fab color="accent"
    aria-label="Example icon button with a plus one icon">
    <mat-icon>plus_one</mat-icon>
  </button>
</div>

<button (click)="create()">create</button>
